body {
    font-family: Arial, serif;
    font-size: 2.5vw;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Горизонтальне центрування всіх елементів */
    align-items: center; /* Вертикальне центрування всіх елементів */
}

.header img {
    width: 25%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.content {
    display: flex;
    width: 100%;

}

.sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    padding: 20px;
}

.sidebar a {
    padding: 5px;
}




.sidebar a:hover {
    color: blue;
}

.main {
    width: 75%;
    max-width: 75%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(1px, 1fr));
    gap: 10px;
    width: 100%;
    overflow: hidden; /* Запобігаємо виходу контенту за межі контейнера */
}

.cards img:hover {
    transform: scale(1.05);
}

.tips {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.tips_card {
    display: flex;
    align-items: center;
}

.tips img {
    width: 30%;
    height: 100%;
}

.tips_card_text_block {
    width: 50%;
}

.footer {
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    padding: 20px;
}

.footer_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe_card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.recipe_card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.lds-grid {
    color: #1c4c5b;
}

.lds-grid,
.lds-grid div {
    box-sizing: border-box;
}

/* Контейнер */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 80px;
    min-height: 80px;
}

/* Точка */
.lds-grid div {
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: currentColor;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) { top: 10%; left: 10%; animation-delay: 0s; }
.lds-grid div:nth-child(2) { top: 10%; left: 40%; animation-delay: -0.4s; }
.lds-grid div:nth-child(3) { top: 10%; left: 70%; animation-delay: -0.8s; }
.lds-grid div:nth-child(4) { top: 40%; left: 10%; animation-delay: -0.4s; }
.lds-grid div:nth-child(5) { top: 40%; left: 40%; animation-delay: -0.8s; }
.lds-grid div:nth-child(6) { top: 40%; left: 70%; animation-delay: -1.2s; }
.lds-grid div:nth-child(7) { top: 70%; left: 10%; animation-delay: -0.8s; }
.lds-grid div:nth-child(8) { top: 70%; left: 40%; animation-delay: -1.2s; }
.lds-grid div:nth-child(9) { top: 70%; left: 70%; animation-delay: -1.6s; }

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}



