<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../additional.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div class="content" id="app">
    <div class="registration_box">
        <form action="/register" id="register1" @submit.prevent="validateForm">
            <div class="form">
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" v-model="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+/.[a-zA-Z]+" required><br>
                <span class="validity"></span><br>
            </div>
            <div class="form">
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" v-model="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$#!%*?&])[A-Za-z\d@$!%#*?&]{8,}$" required><br>
                <span class="validity"></span><br>
            </div>
            <div class="form">
                <label for="surname">Surname</label><br>
                <input type="text" id="surname" name="surname" v-model="surname" pattern="[a-zA-Z]+" required><br>
                <span class="validity"></span><br>
            </div>
            <div class="form">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name" v-model="name" pattern="[a-zA-Z]+" required><br>
                <span class="validity"></span><br>
            </div>
            <div class="form">
                <label for="middle_name">Middle name</label><br>
                <input type="text" id="middle_name" name="middle_name" v-model="middle_name" pattern="[a-zA-Z]+" required><br>
                <span class="validity"></span><br>
            </div>
            <div class="form">
                <label>Gender</label><br>
                <div class="radio_box">
                    <label for="Male">Male</label>
                    <input type="radio" id="Male" name="gender" v-model="gender" value="Male" required>
                    <label for="Female">Female</label>
                    <input type="radio" id="Female" name="gender" v-model="gender" value="Female" required><br>
                    <span class="validity"></span><br>
                </div>
            </div>
            <div class="form">
                <div class="phone_form">
                    <label for="phone_num">Phone number</label>
                    <input type="text" id="phone_num" v-model="phone_number" placeholder="+38(0__)-___-__-__" pattern=".{18}" required><br>
                    <span class="validity"></span><br>
                    <script>
                        $(document).ready(function(){
                            $('#phone_num').mask('+38(000)-000-00-00');
                        });
                    </script>
                </div>
            </div>
            <div class="form">
                <label for="date">Birthday date</label><br>
                <input type="date" id="date" name="date" v-model="b_day" required><br>
                <span class="validity"></span><br>
            </div>
            <div class="form">
                <label for="group">Group</label>
                <select id="group" name="group" v-model="group" required>
                    <option value="option1">Group 1</option>
                    <option value="option2">Group 2</option>
                    <option value="option3">Group 3</option>
                    <option value="option4">Group 4</option>
                </select><br>
            </div>
            <div class="form">
                <label for="file">File</label><br>
                <input type="file" id="file" ref="fileInput" name="file" @change="updateFileName" required><br>
                <span class="validity"></span><br>
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="information_table_box">
        <table id="information_table">
            <thead>
            <tr>
                <th>Вибір</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>По-батькові</th>
                <th>Електронна адреса</th>
                <th>Пароль</th>
                <th>Номер телефону</th>
                <th>Дата народження</th>
                <th>Стать</th>
                <th>Група</th>
                <th>Файл</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, i) in information" :key="i">
                <td><input v-model="row.isChecked" type="checkbox"></td>
                <td>{{row.name}}</td>
                <td>{{row.surname}}</td>
                <td>{{row.middle_name}}</td>
                <td>{{row.email}}</td>
                <td>{{row.password}}</td>
                <td>{{row.phone_number}}</td>
                <td>{{row.b_day}}</td>
                <td>{{row.gender}}</td>
                <td>{{row.group}}</td>
                <td>{{row.fileName}}</td>
            </tr>
            </tbody>

        </table>

        <input type="submit" @click="delete_rows" value="Delete" id="delete">
        <input type="submit" value="Duplicate" id="duplicate">
    </div>
</div>
<script>
    const { createApp, ref } = Vue
    createApp({
        setup() {
            const email = ref("")
            const password = ref("")
            const name = ref("")
            const surname = ref("")
            const middle_name = ref("")
            const gender = ref("")
            const phone_number = ref("")
            const b_day = ref("")
            const group = ref("")
            const fileName = ref("")

            const fileValue = ref("")

            const information = ref([])

            isChecked = ref(false)

            let id = 0

            function updateFileName(event) {
                fileName.value = event.target.files[0].name
            }



            function addNewRow() {
                information.value.push({
                    id: id++,
                    name: name.value,
                    surname: surname.value,
                    middle_name: middle_name.value,
                    email: email.value,
                    password: password.value,
                    phone_number: phone_number.value,
                    b_day: b_day.value,
                    gender: gender.value,
                    group: group.value,
                    fileName: fileName.value,
                    isChecked: isChecked.value
                });
            }

            function validateForm(e) {
                if (e.target.checkValidity()) {
                    addNewRow()
                    clearForm()
                }
            }

            function clearForm() {
                email.value = ''
                this.$refs.fileInput.value = null  // Скинути значення file input
            }

            function delete_rows() {
                information.value = information.value.filter((row) => {if (row.isChecked !== true) {return row}} )
            }


            return {
                email,
                password,
                name,
                surname,
                middle_name,
                gender,
                phone_number,
                b_day,
                group,
                fileName,
                updateFileName,
                addNewRow,
                information,
                validateForm,
                isChecked,
                delete_rows,
                fileValue
            }

        }
    }).mount('#app')
</script>
</body>
</html>


<!--        <script>-->
<!--            let register_form = document.getElementById("register1");-->
<!--            const table = document.getElementById("information_table").getElementsByTagName('tbody')[0];-->
<!--            const delete_button = document.getElementById("delete");-->
<!--            const duplicate_button = document.getElementById("duplicate");-->

<!--            function add_row() {-->
<!--                let email = document.getElementById("email").value;-->
<!--                let name = document.getElementById("name").value;-->
<!--                let surname = document.getElementById("surname").value;-->
<!--                let middle_name = document.getElementById("middle_name").value;-->
<!--                let password = document.getElementById("password").value;-->
<!--                let gender = document.querySelector('input[name="gender"]:checked').value;-->
<!--                let phone_number = document.getElementById("phone_num").value;-->
<!--                let b_day = document.getElementById("date").value;-->
<!--                let group = document.getElementById("group").value;-->
<!--                let fileInput = document.getElementById("file");-->
<!--                let fileName = fileInput.files[0].name;-->


<!--                const row = document.createElement("tr");-->

<!--                row.innerHTML = `-->
<!--                <td><input type="checkbox" class="row_checkbox"></td>-->
<!--                <td>${name}</td>-->
<!--                <td>${surname}</td>-->
<!--                <td>${middle_name}</td>-->
<!--                <td>${email}</td>-->
<!--                <td>${password}</td>-->
<!--                <td>${phone_number}</td>-->
<!--                <td>${b_day}</td>-->
<!--                <td>${gender}</td>-->
<!--                <td>${group}</td>-->
<!--                <td>${fileName}</td>-->

<!--            `;-->


<!--                table.appendChild(row);-->
<!--            }-->

<!--            function delete_rows() {-->
<!--                const rows_for_delete = document.querySelectorAll('input.row_checkbox:checked');-->

<!--                rows_for_delete.forEach(function (checkbox){-->
<!--                    const row = checkbox.closest("tr");-->
<!--                    row.remove()-->
<!--                })-->
<!--            }-->

<!--            function duplicate_rows() {-->
<!--                const rows_for_duplicate = document.querySelectorAll('input.row_checkbox:checked');-->

<!--                rows_for_duplicate.forEach((checkbox) => {-->
<!--                    const row = checkbox.closest("tr");-->
<!--                    const clonedRow = row.cloneNode(true);-->

<!--                    const table = document.getElementById("information_table").getElementsByTagName('tbody')[0];-->
<!--                    table.appendChild(clonedRow);-->
<!--                })-->
<!--            }-->

<!--            function unchecked_checkbox() {-->
<!--                const checked_checkbox = document.querySelectorAll("input.row_checkbox:checked");-->

<!--                checked_checkbox.forEach((element) => {-->
<!--                    const checkbox = element.closest("input");-->
<!--                    checkbox.checked = false;-->
<!--                })-->
<!--            }-->

<!--            function reset_form() {-->
<!--                const form_to_reset = document.getElementById("register1");-->
<!--                form_to_reset.reset();-->
<!--            }-->

<!--            register_form.addEventListener("submit", (e) => {-->
<!--                e.preventDefault();-->
<!--                add_row();-->
<!--                reset_form();-->
<!--            });-->

<!--            delete_button.addEventListener("click", (e) => {-->
<!--                e.preventDefault();-->
<!--                delete_rows();-->
<!--                unchecked_checkbox();-->
<!--            });-->


<!--            duplicate_button.addEventListener("click", (e) => {-->
<!--                e.preventDefault();-->
<!--                duplicate_rows();-->
<!--                unchecked_checkbox();-->
<!--            })-->


<!--        </script>-->
    </div>
</div>
</body>
</html>
